/* src/App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}


canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1;
}